html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #667085;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  padding: 0 5%;
  margin: 0 auto;
}

header,
main {
  max-width: 1216px;
  font-size: 1.6rem;
  margin: 0 auto;
}

footer {
  width: 100%;
  background-color: #f9fafb;
}

.header-nav {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 9.6rem;
}

.header-logo {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.header-pages {
  display: flex;
  gap: 3.2rem;
}

.header-links {
  color: #667085;
}

.logo-blank {
  width: 8%;
}

.header-action {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.login {
  color: #667085;
}

.btn {
  height: 4rem;
  color: #fff;
  font-size: 1.6rem;
  background-color: #8e2424;
  border: 1px solid #8e2424;
  border-radius: 0.8rem;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  padding: 0 1.8rem;
  cursor: pointer;
}

.box-section {
  width: 100%;
  text-align: center;
  margin: 0 auto 9.6rem auto;
}

.about-us {
  padding: 0 17%;
}

.highlight-header {
  color: #8e2424;
  line-height: 2.4rem;
  font-weight: 600;
}

h1 {
  color: #101828;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 6rem;
  margin-top: 2.4rem;
  margin-bottom: 3.6rem;
}

.section-text {
  font-size: 2rem;
  line-height: 3rem;
}

.metrics {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.2rem;
}

.metric {
  flex: 1 1 0px;
}

.metric-number {
  color: #8e2424;
  font-size: 6rem;
  font-weight: 600;
  line-height: 7.2rem;
  margin-bottom: 1.2rem;
}

.metric-name {
  color: #101828;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-bottom: 0.8rem;
}

.metric-text {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.vacancies {
  padding-top: 9.6rem;
}

.vacancies-header {
  margin-bottom: 6.4rem;
}

.text-section-header {
  color: #8e2424;
  font-weight: 500;
  line-height: 2rem;
  background-color: rgba(142, 36, 36, 0.1);
  border-radius: 1.6rem;
  padding: 0.5rem 1.6rem;
}

h2 {
  color: #101828;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 4.4rem;
  margin-top: 1.6rem;
  margin-bottom: 2rem;
}

.section-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 6.4rem;
}

.vacancies-body {
  text-align: left;
  padding: 0 22%;
}

.department-jobs {
  margin-bottom: 6.4rem;
}

.department-jobs:last-child {
  margin-bottom: 0rem;
}

.department-name {
  color: #101828;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  margin-bottom: 0.8rem;
}

.job {
  border: 1px solid #eaecf0;
  border-radius: 1.6rem;
  padding: 2.4rem 2.4rem 2.8rem 2.4rem;
  margin-top: 2.4rem;
}

.job-title {
  color: #101828;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-bottom: 3.2rem;
}

.job-salary {
  padding-left: 2.4rem;
}

.testimonies {
  background-color: rgba(196, 25, 25, 0.1);
  border-radius: 1.6rem;
  padding: 6.4rem;
}

.testimonies-header {
  font-weight: 500;
  line-height: 2rem;
  color: #8e2424;
}

.testimonies blockquote {
  color: #101828;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 4.4rem;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}

.employee-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.employee-avatar {
  width: 56px;
  border-radius: 56px;
}

.employee-name {
  color: #101828;
  font-weight: 500;
  line-height: 2.4rem;
  margin-top: 1.6rem;
}

.employee-job {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: 0.4rem;
}

.subscribe {
  padding: 9.6rem;
  margin-bottom: 0;
}

.email-registration {
  margin-top: 4rem;
  margin-bottom: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

#input-email {
  width: 50%;
  max-width: 340px;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #667085;
  line-height: 2.4rem;
  border: 1px solid #d0d5dd;
  border-radius: 0.8rem;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
  padding: 0 1.4rem;
}

@media (max-device-width: 1025px) {
  html {
    font-size: 9px;
  }

  .logo-blank {
    display: none;
  }
}

@media (max-device-width: 769px) {
  html {
    font-size: 8px;
  }

  .container {
    padding: 0 3%;
  }

  .header-links:first-child {
    display: none;
  }

  .about-us {
    padding: 0 10%;
  }

  .section-image {
    height: 260px;
  }

  .subscribe {
    padding: 9.6rem 10%;
  }
}

@media (max-device-width: 590px) {
  html {
    font-size: 8px;
  }

  .container {
    padding: 0;
  }

  .header-pages {
    display: none;
  }

  header {
    padding: 0 5%;
  }

  .box-section {
    width: 100%;
  }

  .about-us {
    padding: 0 5%;
  }

  .subscribe {
    padding: 9.6rem 5%;
  }

  .metrics {
    padding: 0 10%;
    flex-wrap: wrap;
    gap: 20%;
    margin-bottom: 3rem;
  }

  .vacancies-body {
    padding: 0 10%;
  }

  .testimonies {
    border-radius: 0;
    margin-bottom: 0;
  }

  .email-registration {
    flex-direction: column;
  }

  #input-email {
    width: 70%;
  }
}

@media (max-device-width: 400px) {
  .metrics {
    flex-direction: column;
    gap: 2.4rem;
    padding: 0 22%;
  }

  .metric {
    text-align: center;
  }
}
